$color1: #7dc24b;
$color2: #39700a;
$color3: #a1ee64;

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero {
    background-image: url("/assets/images/Header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 900px;
    height: 255px;
    min-height: 280px;
    display: flex;
    justify-content: center;
  }

  .construction {
    background-image: url("/assets/images/UnderConstruction.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 640px;
    height: 832px;
    display: flex;
    justify-content: center;
    border: 2px solid $color2;
  }

  .disclaimer {
    display: flex;
    justify-content: center;
    width: 900px;
    margin-top: 30px;
    p {
      font-size: larger;
    }
  }
}

@media screen and (max-width: 840px) {
  .page-container {
    width: fit-content;
    .hero {
      background-image: url("/assets/images/HeaderMobile.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 300px;
      min-height: 80px;
      height: auto;

      display: flex;
      justify-content: center;
    }

    .construction {
      background-image: url("/assets/images/UnderConstructionMobile.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 300px;
      height: 390px;
      min-height: 80px;
      display: flex;
      justify-content: center;
      border: 2px solid $color2;
    }

    .disclaimer {
      width: 300px;
      flex-direction: column;
    }
  }
}
