<div class="page-container">
  <h2 class="page-title">Plastic-Free Glitter</h2>
  <p>What you'll need:</p>
  <ul>
    <li>1/2 cup sugar</li>
    <li>8-10 drops of food colouring</li>
    <li>tin foil</li>
  </ul>
  <p>How to make it:</p>
  <ol>
    <li>
      Combine sugar and food colouring in a bowl and mix well. Fold the edges of
      the tin foil up to make a bowl. Place on a baking sheet and pour the sugar
      mixture in the foil bowl.
    </li>
    <li>Bake at 250 Farenheit for 8 minutes. Store in a glass jar.</li>
  </ol>
  <p>
    Note: Because it is made from sugar, allow glue to dry a bit and become
    tacky before applying glitter.
  </p>
</div>
