<div class="page-container">
  <div class="hero">
    <div class="hero-content"></div>
  </div>
  <div class="exhibit-intro">
    <p>
      <strong> PlastiCulture </strong>is a pop-up museum-type exhibit that
      invites visitors to explore the history of plastic. They will have the
      opportunity to look at how plastic use is harming the environment and our
      health, and in which industries it improves our quality of life.
      Participants will be challenged to increase their awareness of the use of
      plastics in all aspects of their lives, and to find ways to reduce their
      use of plastics. They will walk out of the exhibit with greater knowledge
      of the impact of different types of plastics on the environment, and with
      tools to make changes in their habits, as well as to encourage change in
      plastic use in local businesses and their communities.
    </p>
  </div>
  <div class="exhibit-main-1-title">
    <h1>
      <strong
        >Did you know that Canadians invented the plastic garbage bag?</strong
      >
    </h1>
  </div>
  <div class="exhibit-main-1">
    <div class="exhibit-main-1-img">
      <img src="/assets/images/HarryWasylyk.jpg" alt="harry-wasylyk" />
    </div>
    <div class="exhibit-main-1-text">
      <p>
        In 1950, Harry Wasylyk of Winnipeg, Manitoba, and Larry Hansen of
        Lindsay, Ontario invented the green garbage bag in Wasylyk's kitchen.
        They heated and applied pressure to polyethylene pellets, which had been
        discovered in England in 1933 by Eric Fawcett and Reginald Gibson.
        Wasylyk and Hansen then blew the pellets into a long tube through a
        method called extrusion. Finally, the bags were sealed at one end. Their
        first customer was the Winnipeg General Hospital. The number of polio
        cases in Canada had been increasing since the end of World War II, and
        the hospital was looking for a way to contain contaminated materials.
        The plastic, green garbage bag solved the problem. With better
        sanitation, and the introduction of the polio vaccine in 1955, Canadian
        hospitals began to bring the epidemic under control.
      </p>
    </div>
  </div>
  <div class="exhibit-main-2">
    <div class="exhibit-main-2-text">
      <p>
        Larry Hansen worked for the Union Carbide Company in Lindsay, which
        bought the invention from Wasylyk and Hansen and started manufacturing
        green garbage bags for use in Canadian homes in the late 1960s. This new
        convenience was called Glad Garbage Bags.
      </p>
    </div>
    <div class="exhibit-main-2-img">
      <img src="/assets/images/GladBags.jpg" alt="glad_garbage_bags" />
    </div>
  </div>
  <div class="exhibit-main-3">
    <div class="exhibit-main-3-text">
      <p>
        Plastic garbage bags revolutionized the garbage industry by allowing
        rotting and decaying matter to be contained, thus reducing disease and
        the rotten garbage smell in the streets. It did not take long, though,
        to realise that the plastic garbage bags were creating another problem.
        They did not break down quickly in the landfill. In fact, it is
        estimated that these first garbage bags will take 1000 years or longer
        to break down.
      </p>
    </div>
  </div>
  <div class="exhibit-main-4">
    <div class="exhibit-main-4-img">
      <img src="/assets/images/Guillet.jpg" alt="james-guillet" />
    </div>
    <div class="exhibit-main-4-text">
      <p>
        While on vacation in the Bahamas with his wife in 1969, Canadian
        professor and inventor from the University of Toronto, James Guillet,
        noticed cruise ship litter contained in plastic bags, floating in the
        ocean. Guillet had be researching how polymers reacted to sunlight, and
        realised that he could create a photodegradable garbage bag that would
        break down much more quickly in the landfill with the aid of sunlight.
        He patented his invention in 1971. Unfortunately, it was not well
        received initially.
      </p>
    </div>
  </div>
  <div class="exhibit-main-5">
    <div class="exhibit-main-5-text">
      <p>
        Even Guillet's photodegradable garbage bags have not solved the issues
        with plastic garbage bags. Photodegradable and biodegradable plastic
        bags break apart and degrade, becoming microplastics in the landfills
        after time. These microplastics are then carried by wind and rain water
        into our waterways, and eventually the oceans. Sea creatures consume the
        microplastics, humans and land animals consume sea creatures, and
        through the food chain, we all end up with microplastics in our systems.
        Recent studies on the dangers of microplastics for human and
        environmental health indicate that they can carry toxic chemicals, heavy
        metals, and cause the release of endocrine disruptors, which can cause
        cancers and reproductive disorders. So, while the use of plastic garbage
        bags is convenient, and can help to contain and prevent some diseases,
        they also contribute to the cause of other health issues in human and
        animal populations. The answer to the problems is not simple.
      </p>
    </div>
    <div class="exhibit-main-5-img">
      <img src="/assets/images/Fish.jpg" alt="plastic-bag-in-sea-with-fish" />
    </div>
  </div>
  <footer>
    <h4>Sources:</h4>

    <ul>
      <li>www.plasticplace.com/blogs/blog/the-trash-bag-in-history-part-ii</li>
      <li>
        www.canadashistory.ca/explore/science-technology/the-polio-epidemic-in-canada
      </li>
      <li>
        www.theglobeandmail.com/technology/james-guillet-chemist-and-teacher-1927-2005/article1124183/
      </li>
      <li>theinventors.org/library/inventors/blGarbageBag.htm</li>
      <li>
        www.biologicaldiversity.org/programs/population_and_sustainability/sustainability/plastic_bag_facts.html
      </li>
      <li>www.frontiersin.org/articles/10.3389/fenvs.2022.827289/full</li>
      <li>
        www.ncbi.nlm.nih.gov/pmc/articles/PMC10151227/#:~:text=Microplastics%20can%20also%20affect%20the,i.e.%2C%20the%20final%20consumer
      </li>
    </ul>
  </footer>
</div>
