.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 18px;
  line-height: 1.7;

  .hero {
    background-image: url("/assets/images/Plasticulture.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 900px;
    height: auto;
    min-height: 280px;
    display: flex;
    justify-content: center;
  }

  .exhibit-intro {
    display: flex;
    background-color: cornsilk;
    padding: 50px;
  }

  .exhibit-main-1-title {
    h1 {
      font-size: 32px;
    }
  }

  .exhibit-main-1 {
    display: flex;
  }

  .exhibit-main-2 {
    display: flex;

    .exhibit-main-2-text {
      display: flex;
    }

    .exhibit-main-2-img {
      display: flex;
      justify-content: center;

      img {
        width: 175px;
      }
    }
  }

  .exhibit-main-3 {
    display: flex;
  }

  .exhibit-main-4 {
    display: flex;
    gap: 20px;

    .exhibit-main-4-img {
      img {
        width: 300px;
      }
    }
  }

  .exhibit-main-5 {
    display: flex;

    .exhibit-main-5-img {
      img {
        width: 275px;
      }
    }
  }

  footer {
    font-style: italic;
  }
}

@media screen and (max-width: 840px) {
  .page-container {
    width: 300px;

    .hero {
      background-image: url("/assets/images/Plasticulture.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 300px;
      min-height: 80px;
      height: auto;

      display: flex;
      justify-content: center;
    }

    .exhibit-main-1,
    .exhibit-main-4 {
      flex-direction: column-reverse;
    }

    .exhibit-main-2,
    .exhibit-main-5 {
      flex-direction: column;
    }

    footer {
      word-break: break-all;
    }
  }
}
