<div class="page-container">
  <div class="hero">
    <div class="hero-content"></div>
  </div>
  <p>
    <strong> PlastiCulture </strong>is a pop-up museum-type exhibit that invites
    visitors to explore the history of plastic. They will have the opportunity to
    look at how plastic use is harming the environment and our health, and in
    which industries it improves our quality of life. Participants will be
    challenged to increase their awareness of the use of plastics in all aspects
    of their lives, and to find ways to reduce their use of plastics. They will
    walk out of the exhibit with greater knowledge of the impact of different
    types of plastics on the environment, and with tools to make changes in their
    habits, as well as to encourage change in plastic use in local businesses and
    their communities.
  </p>
</div>
