<div class="page-container">
  <h2 class="page-title">Plastic-Free Crafting Glue</h2>
  <p>What you'll need:</p>
  <ul>
    <li>2 cups water</li>
    <li>3/4 cups white flour</li>
    <li>1 cup sugar</li>
    <li>1 1/2 tbsp vinegar</li>
    <li>1 tbsp baking soda</li>
    <li>a pot</li>
    <li>a whisk</li>
  </ul>
  <p>How to make it:</p>
  <ol>
    <li>
      Combine flour with room temperature water. Place over heat and stir
      constantly.
    </li>
    <li>
      Once it is warm, add the sugar and stir constantly until the sugar is
      melted.
    </li>
    <li>
      Add the vinegar and continue stirring. Then add the baking soda and
      continue stirring. The mixture will begin to bubble due to the reaction of
      the vinegar and baking soda.
    </li>
    <li>
      Keep stirring over the heat until your glue is smooth and has
      thickened.Then, remove from the heat and allow to cool.
    </li>
    <li>Transfer to a glass jar and store in the fridge for up to 3 months.</li>
  </ol>
  <p>Note: This glue works well for crafting with paper and cardboard.</p>
  <app-footer />
</div>
