<p>
  The concept for Renegade Ape Exhibits was first conceived of by Founder and
  Curator, Maureen Hatzinikolaou, in July 2019 when a friend came over and saw
  what she was doing to reduce single-use plastics use in her home. Her friend
  said she would like to do this too, but she did not know where to find
  everything, or how to begin. It had taken Maureen many months of research and
  searching to make the plastic-free, and plastic-less changes in her home. She
  recognised that many people would also like to make these changes, but the
  great investment in time to do so could be prohibitive for busy lifestyles. In
  addition, some of the products Maureen tried worked well, while others were
  not as successful. Being a Museum Professional, the obvious answer to Maureen
  was to make a museum exhibit experience where people could participate in
  educational and interactive learning activities, explore options that would
  make changing their plastic habits easier, and have the ability to purchase
  items that have been tested and confirmed to reduce plastic use while not
  being inconvenient.
</p>
<h2 class="page-title">Vision, Mission, & Values</h2>
<p>
  Vision Statement Renegade Ape Exhibits empowers individuals to learn about
  current environmental and societal issues and effect meaningful change in
  their lives.
</p>
<p>
  Mission Statement Renegade Ape Exhibits presents temporary exhibits in local
  communities that explore issues relevant to today's society in order to
  educate, create opportunities for discussion, and enable both companies and
  individuals to find ways to make positive change. The first exhibit is
  PlastiCulture, which aims to educate the public about plastics, their history,
  and their impact on the environment. It challenges companies and individuals
  to discuss and find solutions to the problems caused by plastic over-use by
  raising awareness and asking difficult questions.
</p>
Company Values Social and Environmental Responsibility - Based on the foundation
of creating opportunity for social and environmental change, we model behaviour
to reinforce concepts of social and environmental responsibility. For example,
as employees of Renegade Ape Exhibits, we endeavour to use plastic-free options,
or abstain from using single-use plastics as often as possible. Facilitate
Change - Since positive change is at the heart of what Renegade Ape Exhibits
stands for, we will strive to educate and facilitate people to make changes in
their lives and communities, and to find environmentally friendly and socially
responsible solutions to the issues. Be Curious - We encourage curiosity and
out-of-the-box thinking to find solutions to problems, and promote education
through exploration rather than explanation. Honesty and Accountability - We aim
to provide accurate and well researched information and products that represent
our company mandate of providing environmental and social solutions to problems.
If we should find that there is an error in any of the information we provide,
we will take measures to correct it immediately. Inclusivity and Diversity - We
uphold an inclusive environment for all visitors and employees, treating
everyone with fairness and kindness, and with a zero tolerance policy for any
form of abusive actions by anyone. We support each other through respect in
order to achieve a positive environment and experience for everyone. Founder
Exhibit Curator & Business Founder: Maureen Hatzinikolaou is the founder and
curator of Renegade Ape Exhibits. She is passionate about making a difference in
the world and inspiring positive change by creating engaging and interactive
learning opportunities. One of Maureen's best friends wanted to know how to
reduce single-use plastics in her home, but didn't know where to start or have
the time to find everything. Being a museum professional, Maureen decided to
launch Renegade Ape Exhibits, a company that creates temporary museum exhibits
to let people explore environmental and social issues, discuss their thoughts
and ideas, and find solutions to problems before they become irreversible.
Maureen has many years of education related to museum work, including an MA in
Classical and Near Eastern Archaeology (University of British Columbia, 2002),
an MA in Egyptian Archaeology (University of Toronto, 2004), a Diploma in
Digital Animation (Centennial College, 2013), a Diploma in Cultural Resource
Management, Museum Studies (University of Victoria, 2017), and a PhD (ABD) in
Egyptology (University of Toronto, achieved candidacy 2007, voluntarily withdrew
2009). While she was undertaking all this education, she worked and volunteered
at the Royal Ontario Museum, the Vancouver Maritime Museum, Mackin House, the
Ukrainian Museum of Canada, and the Toronto History Museums - Gibson House
Museum, as well as on archaeological excavations in Greece, Egypt, and Jordan.
In addition to a background in museums and archaeology, Maureen has many
transferable skills from previous work experience. To make ends meet while she
pursued her passions, Maureen worked at numerous retail positions where she
learned about product acquisition and display, and gained valuable customer
service skills. She also has an extensive background in teaching, having started
teaching swimming lessons to adults and children when she was 14. Before
beginning her museum journey, Maureen was a ballet and modern dancer and
choreographer, and danced in Edmonton, Montreal, and Vancouver. She taught
ballet and modern dance classes to all ages at 9 dance studios in BC's Lower
Mainland, including organising and putting on live dance performances for over
10 years. When she returned to school as a graduate student, Maureen gave
undergraduate and graduate lectures at the University of British Columbia and
the University of Toronto, and also developed and taught children's classes at
the Royal Ontario Museum. Finally, Maureen has also worked as a Recruitment
Officer for the federal and provincial elections, hiring as many as 600 people
in 5 weeks. Her previous experiences working in museum and non-museum positions
has given her valuable knowledge that will be applicable to running Renegade Ape
Exhibits. Most importantly, arts and culture are her passion, and Maureen is
grateful to have had the opportunity to what she loves throughout her life.
