<div class="page-container">
  <h2 class="page-title">Make Your Own Bioplastic</h2>
  <p>What you’ll need:</p>
  <p>
    1 cup of whole milk 1 tbsp white vinegar a glass bowl a sieve cheese cloth
    paper towel
  </p>
  <p>How to make it:</p>
  <ol>
    <li>Line your sieve with cheese cloth and set over a bowl.</li>
    <li>Warm the milk in a microwave for 1 minute, or until bubbly.</li>
    <li>
      Remove from the microwave and add the vinegar. Stir until you see the
      solids separate from the whey, or liquid part of the milk.
    </li>
    <li>
      Pour the separated mixture into your cheese cloth lined sieve and set
      aside for 20 minutes to drain.
    </li>
    <li>
      Place the casein on the paper towels and squeeze out as much liquid as
      possible.
    </li>
    <li>Flatten and cut shapes, or mould into any shape you wish.</li>
    <li>Place on parchment paper to dry for 24 to 48 hours.</li>
  </ol>
  <p>
    What happens if you put it in water now? Try putting your homemade casein
    and a store bought button in water. Leave over night. What happens to each
    sample? Why do you think they react differently?
  </p>
</div>
