<header>
  <div class="navbar">
    <span>Renegade Ape Exhibits</span>
    <nav>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/exhibits">Exhibits</a>
      <a mat-button routerLink="/blog">Blog</a>
    </nav>
  </div>
</header>

<div class="content">
  <ng-content></ng-content>
</div>

<footer>
  <div class="footer-content">
    <ul class="social-links">
      <li>
        <a
          href="https://www.linkedin.com/company/renegade-ape-exhibits/"
          target="_blank"
          rel="noopener noreferrer"
          ><fa-icon [icon]="faLinkedin"></fa-icon
        ></a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/SocialApeRAE/"
          target="_blank"
          rel="noopener noreferrer"
          ><fa-icon [icon]="faFacebook"></fa-icon
        ></a>
      </li>
    </ul>
    <div class="copyright">
      &copy; 2023 Renegade Ape Exhibits. All Rights Reserved.
    </div>
  </div>
</footer>
