$color1: #7dc24b;
$color2: #39700a;
$color3: #a1ee64;

mat-sidenav {
  margin: 16px;
  width: fit-content;
  border-right: none;
  background: $color2;
  color: white;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
}

.content {
  border-radius: 5px;
  margin: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  color: #000;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 840px) {
  .content {
    margin: 80px;
  }
}

@media screen and (max-width: 740px) {
  .content {
    margin: 40px;
  }
  .menu-button {
    font-size: 0.8rem;
  }
}
